<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<events>
    
    <!-- MoreDinos -->
    <event name="AnimalRaptorFamily">
        <nominal>3</nominal>
        <min>2</min>
        <max>3</max>
        <lifetime>180</lifetime>
        <restock>0</restock>
        <saferadius>200</saferadius>
        <distanceradius>0</distanceradius>
        <cleanupradius>0</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>custom</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="1" type="Animal_dbo_raptor"/>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Animal_dbo_raptor_BABY"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Animal_dbo_raptor_ADULT"/>
        </children>
    </event>
    <event name="AnimalRaptorBlueFamily">
        <nominal>3</nominal>
        <min>2</min>
        <max>3</max>
        <lifetime>180</lifetime>
        <restock>0</restock>
        <saferadius>200</saferadius>
        <distanceradius>0</distanceradius>
        <cleanupradius>0</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>custom</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="1" type="Animal_dbo_raptorblue"/>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Animal_dbo_raptorblue_BABY"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Animal_dbo_raptorblue_ADULT"/>
        </children>
    </event>
    <event name="AnimalRaptorBFamily">
        <nominal>3</nominal>
        <min>2</min>
        <max>3</max>
        <lifetime>180</lifetime>
        <restock>0</restock>
        <saferadius>200</saferadius>
        <distanceradius>0</distanceradius>
        <cleanupradius>0</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>custom</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="1" type="Animal_dbo_raptorB"/>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Animal_dbo_raptorB_BABY"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Animal_dbo_raptorB_ADULT"/>
        </children>
    </event>
    <event name="AnimalTriceroFamily">
        <nominal>10</nominal>
        <min>2</min>
        <max>10</max>
        <lifetime>180</lifetime>
        <restock>0</restock>
        <saferadius>200</saferadius>
        <distanceradius>0</distanceradius>
        <cleanupradius>0</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>custom</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Animal_dbo_tricero"/>
            <child lootmax="0" lootmin="0" max="4" min="1" type="Animal_dbo_tricero_BABY"/>
            <child lootmax="0" lootmin="0" max="4" min="0" type="Animal_dbo_tricero_ADULT"/>
        </children>
    </event>
    <event name="AnimalIdrexFamily">
        <nominal>3</nominal>
        <min>2</min>
        <max>3</max>
        <lifetime>180</lifetime>
        <restock>0</restock>
        <saferadius>200</saferadius>
        <distanceradius>0</distanceradius>
        <cleanupradius>0</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>custom</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="1" type="Animal_dbo_idrex"/>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Animal_dbo_idrex_BABY"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Animal_dbo_idrex_ADULT"/>
        </children>
    </event>
    <event name="AnimalTRexFamily">
        <nominal>3</nominal>
        <min>2</min>
        <max>3</max>
        <lifetime>180</lifetime>
        <restock>0</restock>
        <saferadius>200</saferadius>
        <distanceradius>0</distanceradius>
        <cleanupradius>0</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>custom</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="1" type="Animal_dbo_trex"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="Animal_dbo_trex_BABY"/>
            <child lootmax="0" lootmin="0" max="1" min="0" type="Animal_dbo_trex_ADULT"/>
        </children>
    </event>
    <event name="AnimalTRexGIANTCHICKEN">
        <nominal>1</nominal>
        <min>1</min>
        <max>1</max>
        <lifetime>180</lifetime>
        <restock>0</restock>
        <saferadius>200</saferadius>
        <distanceradius>0</distanceradius>
        <cleanupradius>0</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>custom</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="1" min="1" type="Animal_dbo_trex_GIANTCHICKEN"/>
        </children>
    </event>
</events>